# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
gabriella-haas-therapy-firebase-adminsdk-jka3a-80ee54a869.json
*.code-workspace

# Local env files
.env
.env.*
!.env.example

# Firebase Files
firestore.rules
.firebase